<div class="container">
  <div class="row">
    <div class="mx-auto col-xl-6">
    <h1 class="m-0 mt-4">Welcome to<i class="fas fa-book"></i><strong>Bookers!</strong></h1>
    　<p class="m-0"><strong>In<i class="fas fa-book"></i>Bookers,</strong></p>
    　<p class="m-0">you can share and exchange your opinions , inpressions , and emotions</p>
    　<p class="m-0">about various books!</p>

    <div class="btn-wrapper mx-auto col-10">
    　<div class="row">
        <button type="button" class="btn btn-info btn-block btn-sm mb-3">
        <%= link_to 'Log in', new_user_session_path, class: 'text-white' %>
        </button>
      </div>
      <div class="row">
        <button type="button" class="btn btn-success btn-block btn-sm">
        <%= link_to 'Sign up', new_user_registration_path, class: 'text-white' %>
        </button>
      </div>
    </div>
    </div>
  </div>
</div>